#defaultMenu {
    display:flex;
    flex-flow: column;
    margin-top: 25px;
}

#defaultMenu button {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}
#defaultMenu img {
    background: rgb(45, 45, 45);
    width: 26px;
    padding: 12px;
    margin-left: -10px;
    border-radius: 10px;
    justify-content: left;
    pointer-events: none;
}
#defaultMenu p {
    color: rgb(0, 0, 0);
    font: bold 18px 'メイリオ';
    line-height: 0px;
    width: 200px;
    pointer-events: none;
}


#itemMenu h1 {
    text-align: center;
    font: bold 24px 'メイリオ';
    line-height: 24px;
}
#itemMenu p {
    margin-top: -10px;
    margin-left: 10px;
    font: 600 12px 'メイリオ';
    word-break: break-all;
}
#itemMenu #p1 {
    margin-top: 30px;
}
#ColorSelect{
    margin-left: 5%;
}
#ItemChangeButton{
    background-color: rgb(200, 77, 150);
    color: aliceblue;
    border-radius: 15px;
    
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 65%;
    min-height: 65px;
}
#itemSelectBox{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
#itemSelectBox button {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
}
#itemSelectBox button p {
    line-height:1em;
    pointer-events: none;
    margin-top: 0px;
}
#itemSelectBox button img {
    border-radius: 10px;
    width:30px;

}
#itemSelctH1{
    text-align:center;
    line-height: 0px;
    margin-top: 1em;
    font-size: 20px;
}

#PropertyMenu{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10px;
    height: 100%;
}
#OthersButtonBox{
    position: absolute;
    border-top: 1px solid black;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
#OthersButton{
    background-color: rgb(70, 70, 70);
    color: aliceblue;
    margin-top: 2%;
}
#SortLayerDiv{
    display:flex;
    margin-top:10px;
}
#SortLayerDiv button{
    display: block;
}
#SortLayerDiv button img{
    width: 50px;
}
#SortLayerDiv button p{
    margin-top: -5px;
    line-height: 0px;
    color: rgb(45, 45, 45);
    font-weight: bold;
}