#canvasWindow{
  position: relative;
  margin-top: 2.5vh;
  margin-left: 10vw;
  pointer-events: none;
}
#canvasWindow img{
  position: absolute;
  user-select: none;
  pointer-events: none;
}
#canvasWindow div{
  position: absolute;
}

#selectWindow{
  margin-top: 15px;
  height: 80vh;
  overflow-y: scroll;
  display: block;
}
#selectWindow::-webkit-scrollbar {
  width: 10px;
}
#selectWindow::-webkit-scrollbar-thumb {
  background-color: #ababab;
}

.ImageSelectButton{
  max-width: 150px;
  min-width: 150px;
}
.ImageSelectButton img{
  width: 100%;
  height: 175px;
  user-select: none;
  pointer-events: none;
}
